#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgb(203, 199, 199);
  gap: 10px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px orange;
}

li {
  display: flex;
  margin-top: 7px;
  text-align: left;
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
  margin: 0px;
}